pillow~=12.0.0
attrs~=25.4.0
pytz
idna~=3.11
multidict~=6.7.0
Babel~=2.9.1
aiogram~=3.23.0
pydantic~=2.12.5
aiofiles~=25.1.0
certifi
aiohttp~=3.8.1
yarl~=1.8.2
aiosignal~=1.4.0
frozenlist~=1.8.0
setuptools~=65.5.0
python-dotenv~=1.2.1
python-barcode==0.14.0
